body{
    
    background: linear-gradient(-45deg, #f3f711, #3df35b, #23d5ab,#23a6d5) no-repeat ;
    background-size: 300% 1300%;
    animation: animation 15s ease infinite;
    animation-direction: alternate-reverse;
}

@keyframes animation{
    0%{background-position: 0% 50%;}
    50%{background-position: 50% 50%;}
    100%{background-position: 100% 50%;}
}
.container{
    margin:5%;
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 100%;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 3.5em;
}
.para{
    font-family: 'Libre Baskerville', serif;
    font-weight: 500;
    text-align: justify;
}
.button{
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btn-primary {
    color: #fff;
    background-color: #0d62fd6b;
    border-color: #0d62fd6b;
    margin: 0px 10px;
}